/* Universal Styles */
body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
}

h2 {
  font-size: 33px;
  font-weight: bold;
  margin: 10px;
}

h4 {
  font-weight: bold;
  margin: 10px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  padding: 0 10px;
  background-color: black;
}

nav li{
  display: inline-block;
  padding-right: 20px;
}

/* Mission section */

.mission {
  display: flex;
  width: 1200px;
  height: 700px;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: cover;
}

.mission.info {
  display flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: none;
}
