/* Universal Styles */
body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
}

/* Header */

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
}

.title {
  flex-grow: 1;
  font-family: Helvetica, serif;
  font-style: italic;
  text-align:left;
  font-size: 50px;
  padding: 10px;
}

nav li{
  display: inline-block;
  padding: 10px;
}
